<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h1>News</h1>

<p *ngIf="loading">Cargando noticias...</p>
<p *ngIf="error">{{ error }}</p>

<div class="news-list">
  <article class="news-card" *ngFor="let item of news">
    <img *ngIf="item.image_url" [src]="item.image_url" [alt]="item.title" />
    <div class="news-content">
      <h3>{{ item.title }}</h3>
      <p>{{ item.summary }}</p>

      <div class="actions">
        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Leer más</a>
        <button (click)="addFavorite(item)">⭐ Añadir a favoritos</button>
      </div>
    </div>
  </article>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
